[alias]
	st = status
	co = checkout
	ri = rebase -i
	lv = log --graph --branches --tags --remotes --pretty=format:'%Cred%h%Creset - %s%C(yellow)%d%Creset %Cgreen(%cr:%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=iso
	b = branch
	ba = branch -a
	fap = fetch --all --prune
	pff = pull --ff
